.skip_main {
    left: -999px;
    position: absolute;
    z-index: -9;
}

.skip_main:focus {
    position: relative;
    left: auto;
    top: auto;
    z-index: 9;
}

nav {
    background: gray;
    display: flex;
    border: 1px;
}

header nav {
    position: fixed;
    display: inline;
}

header nav li {
    margin: 20px;
    style: none;
}

img {
    border: black 2px;
    padding: 1px;
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    row-gap: 30px;
}
