.skip_main {
    left: -999px;
    position: absolute;
    z-index: -9;
}

.skip_main:focus {
    position: relative;
    left: auto;
    top: auto;
    z-index: 9;
}

nav {
    background: #03fcd3;
    display: flex;
    border: 1px;
}

header nav {
    background: #eaebe4;
    position: sticky;
}

nav li {
    margin: 20px;
    display: inline;
    list-style-type: none;
}

img {
    border: 2px solid black;
    padding: 1px;
    margin: 10px;
    opacity: 0.5;
    width: auto;
}

img:hover {
    border: 5px dotted red;
    opacity: 1.0;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: left;
    row-gap: 30px;
}

.grid:nth-child(2n+3) {
    border: 2px green;
}

.grid:figure {
    font-size: smaller;
    text-align: center;
}
