body {
  font-family: Garamond, Georgia, serif;
  font-size: 150%;
}

header {
  background: #42f5e0;
}

nav {
  background: #42e3f5;
}

main {
  background: #42f2f5;
  font-size: 130%;
}

footer {
  background: #42f5ad;
}

li {
  display: inline;
  width: 500px;
}

h1 {
  text-align: center;
  font-family: Verdana, Arial, monospace;
  color: #f5426c;
}

p {
  line-height: 100px;
}

