body {
  font-family: Garamond, Georgia, serif;
  font-size: 130%;
}

header {
  background: #42f5e0;
}

nav {
  background: #42e3f5;
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

main {
  background: #42f2f5;
  font-size: 110%;
}

footer {
  background: #42f5ad;
}

h1 {
  text-align: center;
  font-family: Verdana, Arial, monospace;
  color: #330f4a;
}

p {
  line-height: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
}
